
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,del,details,dfn,div,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,mark,menu,nav,object,p,pre,q,samp,section,small,span,strong,sub,summary,sup,tfoot,thead,time,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-facebook-f:before,.fa-facebook:before {
    content: "\f09a";
}

.fa-instagram:before {
    content: "\f16d";
}

body {
    font-family: poppins,sans-serif;
    font-size: 13px;
    line-height: 27px;
    font-weight: 400;
    color: #fff;
    background-color: #1e1e1e;
    overflow-x: hidden;
}

body a {
    text-decoration: none;
    color: #ff1e5c;
    transition: color .2s ease;
}

body a:hover {
    color: #ff1e5c;
}

body p,body pre {
    margin-bottom: 13px;
}
@media screen and (max-width: 767px) {
    .section-content-holder {
        margin-top: 20px;
    }

    .header-logo img {
        max-width: 140px;
        width: auto!important;
        height: auto!important;
    }

    .one_fourth,.one_half,.one_third,.three_fourth,.two_third {
        width: 100%!important;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }

    .blog-item-holder {
        width: 100%;
        margin-right: auto;
        text-align: center;
        float: none;
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .footer-mail {
        font-size: 30px;
    }

    .site-content {
        overflow: hidden;
    }

    blockquote:not(.functionbetter-block-pullquote) {
        max-width: 100%;
        margin-top: 70px;
    }

    blockquote:not(.functionbetter-block-pullquote):before {
        position: relative;
        left: 0;
        font-size: 180px;
        line-height: 37px;
    }
}

.elem-clearfix:after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
}

.elem {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.elem *,.elem :after,.elem :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elem a {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}

.elem-widget-wrap .elem-element.elem-widget__width-auto,.elem-widget-wrap .elem-element.elem-widget__width-initial {
    max-width: 100%;
}
@media(max-width: 1024px) {
    .elem-widget-wrap .elem-element.elem-widget-tablet__width-auto,.elem-widget-wrap .elem-element.elem-widget-tablet__width-initial {
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .elem-widget-wrap .elem-element.elem-widget-mobile__width-auto,.elem-widget-wrap .elem-element.elem-widget-mobile__width-initial {
        max-width: 100%;
    }
}

.elem-section {
    position: relative;
}

.elem-section .elem-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.elem-section.elem-section-boxed>.elem-container {
    max-width: 1140px;
}
.elem-section.elem-section-stretched {
    position: relative;
    width: 100%;
}

.elem-section.elem-section-items-top>.elem-container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.elem-section.elem-section-items-middle>.elem-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.elem-section.elem-section-items-bottom>.elem-container {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.elem-row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media(max-width: 1024px) {
    .elem-row {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.elem-column-wrap {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.elem-widget-wrap {
    position: relative;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.elem:not(.elem-bc-flex-widget) .elem-widget-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.elem-widget-wrap>.elem-element {
    width: 100%;
}

.elem-widget {
    position: relative;
}

.elem-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elem-widget:not(:last-child).elem-absolute,.elem-widget:not(:last-child).elem-widget__width-auto,.elem-widget:not(:last-child).elem-widget__width-initial {
    margin-bottom: 0;
}

.elem-column {
    position: relative;
    min-height: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.elem-column-gap-narrow>.elem-row>.elem-column>.elem-element-populated {
    padding: 5px;
}

.elem-column-gap-default>.elem-row>.elem-column>.elem-element-populated {
    padding: 10px;
}

.elem-column-gap-extended>.elem-row>.elem-column>.elem-element-populated {
    padding: 15px;
}

.elem-column-gap-wide>.elem-row>.elem-column>.elem-element-populated {
    padding: 20px;
}

.elem-column-gap-wider>.elem-row>.elem-column>.elem-element-populated {
    padding: 30px;
}

.elem-inner-section .elem-column-gap-no .elem-element-populated {
    padding: 0;
}

@media(min-width: 768px) {
    .elem-column.elem-col-10,.elem-column[data-col="10"] {
        width: 10%;
    }

    .elem-column.elem-col-11,.elem-column[data-col="11"] {
        width: 11.111%;
    }

    .elem-column.elem-col-12,.elem-column[data-col="12"] {
        width: 12.5%;
    }

    .elem-column.elem-col-14,.elem-column[data-col="14"] {
        width: 14.285%;
    }

    .elem-column.elem-col-16,.elem-column[data-col="16"] {
        width: 16.666%;
    }

    .elem-column.elem-col-20,.elem-column[data-col="20"] {
        width: 20%;
    }

    .elem-column.elem-col-25,.elem-column[data-col="25"] {
        width: 25%;
    }

    .elem-column.elem-col-30,.elem-column[data-col="30"] {
        width: 30%;
    }

    .elem-column.elem-col-33,.elem-column[data-col="33"] {
        width: 33.333%;
    }

    .elem-column.elem-col-40,.elem-column[data-col="40"] {
        width: 40%;
    }

    .elem-column.elem-col-50,.elem-column[data-col="50"] {
        width: 50%;
    }

    .elem-column.elem-col-60,.elem-column[data-col="60"] {
        width: 60%;
    }

    .elem-column.elem-col-66,.elem-column[data-col="66"] {
        width: 66.666%;
    }

    .elem-column.elem-col-70,.elem-column[data-col="70"] {
        width: 70%;
    }

    .elem-column.elem-col-75,.elem-column[data-col="75"] {
        width: 75%;
    }

    .elem-column.elem-col-80,.elem-column[data-col="80"] {
        width: 80%;
    }

    .elem-column.elem-col-83,.elem-column[data-col="83"] {
        width: 83.333%;
    }

    .elem-column.elem-col-90,.elem-column[data-col="90"] {
        width: 90%;
    }

    .elem-column.elem-col-100,.elem-column[data-col="100"] {
        width: 100%;
    }
}

@media(max-width: 479px) {
    .elem-column.elem-xs-10 {
        width: 10%;
    }

    .elem-column.elem-xs-11 {
        width: 11.111%;
    }

    .elem-column.elem-xs-12 {
        width: 12.5%;
    }

    .elem-column.elem-xs-14 {
        width: 14.285%;
    }

    .elem-column.elem-xs-16 {
        width: 16.666%;
    }

    .elem-column.elem-xs-20 {
        width: 20%;
    }

    .elem-column.elem-xs-25 {
        width: 25%;
    }

    .elem-column.elem-xs-30 {
        width: 30%;
    }

    .elem-column.elem-xs-33 {
        width: 33.333%;
    }

    .elem-column.elem-xs-40 {
        width: 40%;
    }

    .elem-column.elem-xs-50 {
        width: 50%;
    }

    .elem-column.elem-xs-60 {
        width: 60%;
    }

    .elem-column.elem-xs-66 {
        width: 66.666%;
    }

    .elem-column.elem-xs-70 {
        width: 70%;
    }

    .elem-column.elem-xs-75 {
        width: 75%;
    }

    .elem-column.elem-xs-80 {
        width: 80%;
    }

    .elem-column.elem-xs-83 {
        width: 83.333%;
    }

    .elem-column.elem-xs-90 {
        width: 90%;
    }

    .elem-column.elem-xs-100 {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .elem-column.elem-sm-10 {
        width: 10%;
    }

    .elem-column.elem-sm-11 {
        width: 11.111%;
    }

    .elem-column.elem-sm-12 {
        width: 12.5%;
    }

    .elem-column.elem-sm-14 {
        width: 14.285%;
    }

    .elem-column.elem-sm-16 {
        width: 16.666%;
    }

    .elem-column.elem-sm-20 {
        width: 20%;
    }

    .elem-column.elem-sm-25 {
        width: 25%;
    }

    .elem-column.elem-sm-30 {
        width: 30%;
    }

    .elem-column.elem-sm-33 {
        width: 33.333%;
    }

    .elem-column.elem-sm-40 {
        width: 40%;
    }

    .elem-column.elem-sm-50 {
        width: 50%;
    }

    .elem-column.elem-sm-60 {
        width: 60%;
    }

    .elem-column.elem-sm-66 {
        width: 66.666%;
    }

    .elem-column.elem-sm-70 {
        width: 70%;
    }

    .elem-column.elem-sm-75 {
        width: 75%;
    }

    .elem-column.elem-sm-80 {
        width: 80%;
    }

    .elem-column.elem-sm-83 {
        width: 83.333%;
    }

    .elem-column.elem-sm-90 {
        width: 90%;
    }

    .elem-column.elem-sm-100 {
        width: 100%;
    }
}

@media(min-width: 768px) and (max-width:1024px) {
    .elem-column.elem-md-10 {
        width: 10%;
    }

    .elem-column.elem-md-11 {
        width: 11.111%;
    }

    .elem-column.elem-md-12 {
        width: 12.5%;
    }

    .elem-column.elem-md-14 {
        width: 14.285%;
    }

    .elem-column.elem-md-16 {
        width: 16.666%;
    }

    .elem-column.elem-md-20 {
        width: 20%;
    }

    .elem-column.elem-md-25 {
        width: 25%;
    }

    .elem-column.elem-md-30 {
        width: 30%;
    }

    .elem-column.elem-md-33 {
        width: 33.333%;
    }

    .elem-column.elem-md-40 {
        width: 40%;
    }

    .elem-column.elem-md-50 {
        width: 50%;
    }

    .elem-column.elem-md-60 {
        width: 60%;
    }

    .elem-column.elem-md-66 {
        width: 66.666%;
    }

    .elem-column.elem-md-70 {
        width: 70%;
    }

    .elem-column.elem-md-75 {
        width: 75%;
    }

    .elem-column.elem-md-80 {
        width: 80%;
    }

    .elem-column.elem-md-83 {
        width: 83.333%;
    }

    .elem-column.elem-md-90 {
        width: 90%;
    }

    .elem-column.elem-md-100 {
        width: 100%;
    }

    .elem-reverse-tablet>.elem-container>.elem-row>:first-child {
        -webkit-box-ordinal-group: 11;
        -webkit-order: 10;
        -ms-flex-order: 10;
        order: 10;
    }

    .elem-reverse-tablet>.elem-container>.elem-row>:nth-child(2) {
        -webkit-box-ordinal-group: 10;
        -webkit-order: 9;
        -ms-flex-order: 9;
        order: 9;
    }

    .elem-reverse-tablet>.elem-container>.elem-row>:nth-child(3) {
        -webkit-box-ordinal-group: 9;
        -webkit-order: 8;
        -ms-flex-order: 8;
        order: 8;
    }

    .elem-reverse-tablet>.elem-container>.elem-row>:nth-child(4) {
        -webkit-box-ordinal-group: 8;
        -webkit-order: 7;
        -ms-flex-order: 7;
        order: 7;
    }

    .elem-reverse-tablet>.elem-container>.elem-row>:nth-child(5) {
        -webkit-box-ordinal-group: 7;
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
    }

    .elem-reverse-tablet>.elem-container>.elem-row>:nth-child(6) {
        -webkit-box-ordinal-group: 6;
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 5;
    }

    .elem-reverse-tablet>.elem-container>.elem-row>:nth-child(7) {
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
    }

    .elem-reverse-tablet>.elem-container>.elem-row>:nth-child(8) {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }

    .elem-reverse-tablet>.elem-container>.elem-row>:nth-child(9) {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .elem-reverse-tablet>.elem-container>.elem-row>:nth-child(10) {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
}

@media(max-width: 767px) {
    .elem-reverse-mobile>.elem-container>.elem-row>:first-child {
        -webkit-box-ordinal-group: 11;
        -webkit-order: 10;
        -ms-flex-order: 10;
        order: 10;
    }

    .elem-reverse-mobile>.elem-container>.elem-row>:nth-child(2) {
        -webkit-box-ordinal-group: 10;
        -webkit-order: 9;
        -ms-flex-order: 9;
        order: 9;
    }

    .elem-reverse-mobile>.elem-container>.elem-row>:nth-child(3) {
        -webkit-box-ordinal-group: 9;
        -webkit-order: 8;
        -ms-flex-order: 8;
        order: 8;
    }

    .elem-reverse-mobile>.elem-container>.elem-row>:nth-child(4) {
        -webkit-box-ordinal-group: 8;
        -webkit-order: 7;
        -ms-flex-order: 7;
        order: 7;
    }

    .elem-reverse-mobile>.elem-container>.elem-row>:nth-child(5) {
        -webkit-box-ordinal-group: 7;
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
    }

    .elem-reverse-mobile>.elem-container>.elem-row>:nth-child(6) {
        -webkit-box-ordinal-group: 6;
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 5;
    }

    .elem-reverse-mobile>.elem-container>.elem-row>:nth-child(7) {
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
    }

    .elem-reverse-mobile>.elem-container>.elem-row>:nth-child(8) {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }

    .elem-reverse-mobile>.elem-container>.elem-row>:nth-child(9) {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .elem-reverse-mobile>.elem-container>.elem-row>:nth-child(10) {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .elem-column {
        width: 100%;
    }
}
.elem-element .elem-widget-container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}

.elem-widget-heading .elem-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.elem-widget-heading .elem-heading-title>a {
    color: inherit;
    font-size: inherit;
}
.elem-icon {
    display: inline-block;
    line-height: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #818a91;
    font-size: 50px;
    text-align: center;
}

.elem-icon:hover {
    color: #818a91;
}

.elem-icon i,.elem-icon svg {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}

.elem-icon i:before,.elem-icon svg:before {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.elem-11e .elem-element.elem-element-a81 .milestone-num {
    font-size: 65px;
}

.elem-12e .elem-element.elem-element-a82:not(.elem-motion-effects-element-type-background),.elem-12e .elem-element.elem-element-a82>.elem-motion-effects-container>.elem-motion-effects-layer {
    background-color: #000;
}

.elem-12e .elem-element.elem-element-a82 {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 75px 0;
}

.elem-12e .elem-element.elem-element-a82>.elem-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s;
}

.elem-12e .elem-element.elem-element-a83 .elem-element-populated a {
    color: #fff;
}

.elem-12e .elem-element.elem-element-a83 .elem-element-populated a:hover {
    color: #ff1e5c;
}

.elem-12e .elem-element.elem-element-a86 {
    text-align: center;
}

.elem-12e .elem-element.elem-element-a86 .elem-heading-title {
    font-size: 46px;
    font-weight: 700;
}

.elem-12e .elem-element.elem-element-a87 {
    text-align: center;
}

.elem-12e .elem-element.elem-element-a87 .elem-heading-title {
    font-size: 24px;
}

.elem-12e .elem-element.elem-element-a87>.elem-widget-container {
    margin: 0;
}

.elem-12e .elem-element.elem-element-a88 .elem-text-editor {
    text-align: center;
}

.elem-12e .elem-element.elem-element-a88 {
    color: #5b5b5b;
    font-size: 18px;
    line-height: 25px;
}

.elem-12e .elem-element.elem-element-a88>.elem-widget-container {
    margin: 100px 0 0;
}

.elem-12e .elem-element.elem-element-a89>.elem-container {
    max-width: 250px;
}

.elem-12e .elem-element.elem-element-a89 {
    margin-top: 20px;
    margin-bottom: 0;
}

.elem-12e .elem-element.elem-element-a90.elem-column>.elem-column-wrap>.elem-widget-wrap {
    justify-content: space-evenly;
}

.elem-12e .elem-element.elem-element-a91 .elem-icon-wrapper {
    text-align: center;
}

.elem-12e .elem-element.elem-element-a91.elem-view-stacked .elem-icon {
    background-color: #fff;
}

.elem-12e .elem-element.elem-element-a91.elem-view-default .elem-icon,.elem-12e .elem-element.elem-element-a91.elem-view-framed .elem-icon {
    color: #fff;
    border-color: #fff;
}

.elem-12e .elem-element.elem-element-a91.elem-view-default .elem-icon svg,.elem-12e .elem-element.elem-element-a91.elem-view-framed .elem-icon {
    fill: #fff;
}

.elem-12e .elem-element.elem-element-a91 .elem-icon {
    font-size: 28px;
}

.elem-12e .elem-element.elem-element-a91 .elem-icon i,.elem-12e .elem-element.elem-element-a91 .elem-icon svg {
    transform: rotate(0);
}

.elem-12e .elem-element.elem-element-a91 {
    width: auto;
    max-width: auto;
}

.elem-12e .elem-element.elem-element-a92 .elem-icon-wrapper {
    text-align: center;
}

.elem-12e .elem-element.elem-element-a92.elem-view-stacked .elem-icon {
    background-color: #fff;
}

.elem-12e .elem-element.elem-element-a92.elem-view-default .elem-icon,.elem-12e .elem-element.elem-element-a92.elem-view-framed .elem-icon {
    color: #fff;
    border-color: #fff;
}

.elem-12e .elem-element.elem-element-a92.elem-view-default .elem-icon svg,.elem-12e .elem-element.elem-element-a92.elem-view-framed .elem-icon {
    fill: #fff;
}

.elem-12e .elem-element.elem-element-a92 .elem-icon {
    font-size: 28px;
}

.elem-12e .elem-element.elem-element-a92 .elem-icon i,.elem-12e .elem-element.elem-element-a92 .elem-icon svg {
    transform: rotate(0);
}

.elem-12e .elem-element.elem-element-a92 {
    width: auto;
    max-width: auto;
}

.elem-12e .elem-element.elem-element-a93 .elem-icon-wrapper {
    text-align: center;
}

.elem-12e .elem-element.elem-element-a93.elem-view-stacked .elem-icon {
    background-color: #fff;
}

.elem-12e .elem-element.elem-element-a93.elem-view-default .elem-icon,.elem-12e .elem-element.elem-element-a93.elem-view-framed .elem-icon {
    color: #fff;
    border-color: #fff;
}

.elem-12e .elem-element.elem-element-a93.elem-view-default .elem-icon svg,.elem-12e .elem-element.elem-element-a93.elem-view-framed .elem-icon {
    fill: #fff;
}

.elem-12e .elem-element.elem-element-a93 .elem-icon {
    font-size: 28px;
}

.elem-12e .elem-element.elem-element-a93 .elem-icon i,.elem-12e .elem-element.elem-element-a93 .elem-icon svg {
    transform: rotate(0);
}

.elem-12e .elem-element.elem-element-a93 {
    width: auto;
    max-width: auto;
}

.elem-12e .elem-element.elem-element-2367c53 .elem-icon-wrapper {
    text-align: center;
}

.elem-12e .elem-element.elem-element-2367c53.elem-view-stacked .elem-icon {
    background-color: #fff;
}

.elem-12e .elem-element.elem-element-2367c53.elem-view-default .elem-icon,.elem-12e .elem-element.elem-element-2367c53.elem-view-framed .elem-icon {
    color: #fff;
    border-color: #fff;
}

.elem-12e .elem-element.elem-element-2367c53.elem-view-default .elem-icon svg,.elem-12e .elem-element.elem-element-2367c53.elem-view-framed .elem-icon {
    fill: #fff;
}

.elem-12e .elem-element.elem-element-2367c53 .elem-icon {
    font-size: 28px;
}

.elem-12e .elem-element.elem-element-2367c53 .elem-icon i,.elem-12e .elem-element.elem-element-2367c53 .elem-icon svg {
    transform: rotate(0);
}

.elem-12e .elem-element.elem-element-2367c53 {
    width: auto;
    max-width: auto;
}

.elem-12e .elem-element.elem-element-a94 .elem-text-editor {
    text-align: center;
}

@media(max-width: 1024px) {
    .elem-12e .elem-element.elem-element-a82 {
        padding: 35px 0;
    }

    .elem-12e .elem-element.elem-element-a86 .elem-heading-title {
        font-size: 40px;
    }

    .elem-12e .elem-element.elem-element-a88>.elem-widget-container {
        margin: 50px 0 0;
    }
}

@media(max-width: 767px) {
    .elem-12e .elem-element.elem-element-a86 .elem-heading-title {
        font-size: 22px;
    }

    .elem-12e .elem-element.elem-element-a88>.elem-widget-container {
        margin: 30px 0 0;
    }
}
